.safety {
  margin-bottom: 34px;
}

.safety__wrapper  {
  margin: 0 0 55px;
  display: grid;
  grid-template-columns: 1fr 290px;
  gap: 180px;
}

.safety__title  {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: #242424;
}

.safety__text   {
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 20px;
  color: #242424;

}

.safety__text--semibold {
  margin: 0 0 25px;
  font-weight: 600;
}

.safety__subtitle   {
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #000;
}

.safety__list   {
  display: grid;
  gap: 10px;
  margin: 0;
  padding: 0 0 0 16px;
}

.safety__list-item  {
  font-size: 16px;
  line-height: 20px;
  color: #242424;
}

.safety__right  {
  display: grid;
  gap: 20px;
}

.safety__btn  {
  width: 100%;
}

.safety__image  {
  width: 290px;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
}
